.work{
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.work_inner{
    display: flex;
    flex-wrap: wrap;
}
.work_content{
    width: 25%;
    position: relative;
    overflow: hidden;
    height: 350px;
    border-bottom: #fff 1px solid ;
    
}
.work_img{
    min-width: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);

}
 
  

.work_ico{

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: black;
    height: 100%;
    width:100%;
    display: flex;
    opacity: 0;
    transition: opacity  .3s linear;
    
}
.work_ico:hover{
   opacity: 1;
}
.work_for{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.work_title{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
  color:#fff;
  padding-bottom: 13px;
 }
 .work_text{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
  color:#fff;
 }